# Real comments in this file are marked with '#' whereas commented out lines
# are marked with '!'

directory      = ${HOME}/data/search
commitSeconds  = 5
maxShardSize   = 2147483648
ip             = 127.0.0.1/32
aggregateFiles = false
